<form id="update" class="form">
  <h4>Club Name</h4>
  <p class="text-danger"> (Required) </p>
  <input type="text" name="_id" placeholder="Name of the Club/Theme house" value="<%= club._id -%>" class="form-control form-control-lg font-weight-bold mb-1">
  <h4>Introduction</h4>
  <p class="text-danger"> (Required) </p>
  <textarea name="introduction" placeholder="Description" rows="3" class="form-control mb-1"><%= club.introduction -%></textarea>
  <h4>Membership</h4>
  <%_ if (Object.entries(club).length !== 0) {-%>
    <p id="mem"><%= club.memberList.length +club.officerList.length -%></p>
  <%_ }else{-%>
    <p id="mem">1</p>
  <%_ } -%>
  <h4>Meeting Time</h4>
  <textarea name="meetingTime" placeholder="Meeting Time" rows="1" class="form-control mb-1"><%= club.meetingTime -%></textarea>
  <h4>Meeting Location</h4>
  <textarea name="meetingLocation" placeholder="Meeting Location" rows="1" class="form-control mb-1"><%= club.meetingLocation -%></textarea>
  <h4>Coming Event</h4>
  <textarea name="comingEvent" placeholder="Coming Event" rows="1" class="form-control mb-1"><%= club.comingEvent -%></textarea>
  <h4>Past Event</h4>
  <textarea name="pastEvent" placeholder="Past Event" rows="1" class="form-control mb-1"><%= club.pastEvent -%></textarea>
  <div id="OList">
 <h4>Officer List</h4>
  <%_ if (Object.entries(club).length !== 0) {-%>
    <!-- a club have at most five officers-->
    <select multiple name="officerList" id="officerList" size="5" class="form-control w-auto mb-1">
      <%_ for (const id of club.officerList) { -%>
        <option unselected value="<%= id -%>"> <%= id -%></option>
      <%_ } -%>
    </select>
    <p class="text-danger">*You can only have 1-5 officers.</p>
    <button class="btn btn-primary mt-1" id = "impeach">impeach</button>

  <%_ }else{-%>

      <select multiple name="officerList" size="5" class="form-control w-auto mb-1">
          <option  unselected value="<%= user._id -%>"> <%= user._id  -%></option>
      </select>
    <%_ } -%>
    </div>


  <div id="MList">
  <h4>Member List</h4>
  <%_ if (Object.entries(club).length !== 0) {-%>
    <select multiple name="memberList" id="memberList" size="<%= club.memberList.length -%>" class="form-control w-auto mb-1">
     <%_ for (const id of club.memberList) { -%>
       <option unselected value="<%= id -%>"> <%= id -%></option>
     <%_ } -%>
    </select>
    <p class="text-danger">*You can not make all members become officers.</p>
    <button class="btn btn-primary mt-1" id ="promote" >promote</button>
   <%_ } -%>
   </div>

   <div class="mt-3">
     <button class="btn btn-primary" id="updateButton">Save</button>
     <button id="delete" class="uninsert btn btn-primary">Delete</button>

   </div>


</form>
