<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'clubs'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <a>Clubs</a>
            <%_ for (const id of club.category) { -%>
              <%_ const status = ('SLU Club' === club.category) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/clubs/<%= id -%>" class="nav-item nav-link <%= status -%>"><%= id -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col">
          <main class="p-3">
            <h2><%= club._id -%></h2>
            <p><%= club.introduction -%></p>
            <%_ if (club.memberList.length > 0) { -%>
              <p>Members:</p>
              <ul>
                <%_ for (const member of club.memberList) { -%>
                  <li><%= member -%></li>
                <%_ } -%>
              </ul>
            <%_ } -%>
            meetingTime:String,
            meetingLocation: String,
            comingEvent: String,
            numberOfMember: String,
            officerList: [String],
            memberList: [String],
            passEvent: [String]
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
