<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'clubs'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <a>Clubs</a>
            <%_ for (const id of clubIDs) { -%>
              <%_ const status = (id === club._id) ? 'active BROWN' : 'inactive'; -%>
              <a href="/clubs/<%=  id -%>" class="nav-item nav-link <%= status -%>"><%= id -%></a>
            <%_ } -%>
          </nav>
          <%_ if (user) { -%>
            <form id="create" class="form my-1">
              <input type="text" name="_id" placeholder="Name of the Club/Theme house" size="1" class="form-control">
            </form>
          <%_ } -%>
        </div>
        <div class="col">
          <main class="p-3">
            <%_ if (user) { -%>
              <%- include('./edit', {club: club, clubIDs: clubIDs}); -%>
            <%_ } else { -%>
              <%- include('./browse', {club: club}); -%>
            <%_ } -%>
          </main>
        </div>
      </div>
    </div>
    <%_ if (admin) { -%>
      <%- include('./scripts', {club: club}); -%>
    <%_ } -%>
  </body>
</html>
