<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'clubs'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <a>Clubs</a>
            <%_ for (const cate of club.category) { -%>
              <%_ const status = ('SLU Club' === club.category) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/clubs/<%=  club._id -%>" class="nav-item nav-link"><%= club._id -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col">
          <main class="p-3">
            <h2><%= club._id -%></h2>
            <p><%= club.introduction -%></p>

            <p><a>Meeting Time:  </a><%= club.meetingTime -%></p>

            <p><a>Meeting Location:  </a><%= club.meetingLocation -%></p>
            <p><a>Membership:  </a><%= club.numberOfMember -%></p>
            <p><a>Coming Event:  </a><%= club.comingEvent -%></p>
            <p><a>Pass Event:  </a><%= club.passEvent -%></p>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
