<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  // Create a club
  // $('#create').on('submit', function(event) {
  //   const form = $(this);
  //   event.preventDefault();
  //
  //   $.ajax({method: 'post', url: '/clubs', data: form.serialize()})
  //     .done(id => window.location.replace(`/clubs/${id}`))
  //     .fail(error => alert('Fail to create the club.'));
  // });

  $('#create').on('submit', function(event) {
    $(this).before($(`
      <form id="update" class="form">
        <input type="text" name="title" placeholder="Name of the Club/Theme house" value="<%= club._id -%>" class="form-control form-control-lg font-weight-bold mb-1">
        <h4>Introduction</h4>
        <textarea name="description" placeholder="Description" rows="3" class="form-control mb-1"><%= club.introduction -%></textarea>
        <h4>Meeting Time</h4>
        <textarea name="time" placeholder="Meeting Time" rows="1" class="form-control mb-1"><%= club.meetingTime -%></textarea>
        <h4>Meeting Location</h4>
        <textarea name="location" placeholder="Meeting Location" rows="1" class="form-control mb-1"><%= club.meetingLocation -%></textarea>
        <h4>Coming Event</h4>
        <textarea name="coming" placeholder="Coming Event" rows="1" class="form-control mb-1"><%= club.comingEvent -%></textarea>
        <h4>Past Event</h4>
        <textarea name="past" placeholder="Past Event" rows="1" class="form-control mb-1"><%= club.pastEvent -%></textarea>
        <button class="btn btn-primary" id="update">Save</button>
        <button id="delete" class="uninsert btn btn-primary">Delete</button>
      </form>
    `));
  });

  $('#join').on('click', function(event) {
    const form = $(this);
    event.preventDefault();
    if (club.memberList.indexOf(user._id)>=0){
      alert('You are already in this club/theme house.');
    }else{
      console.log("good")
      club.memberList.push(user._id)
      .done(club => window.location.replace(`/clubs/${club}`))
    }
  });
</script>
